
.form{
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
}
.form-radio{
    margin-bottom: 30px;
    
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:focus{
    outline: none;
}